html {
    background-color: white;
}

header {
    background-color: black;
    color: salmon;
    text-align: center;
    padding: 3em;
}

nav {
    background-color: salmon;
    color: black;
    padding: 1em;
    text-align: left;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0 1em 0 1em;
}

a:link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#bigFish {
    background-color: white;
    display: flex;
    justify-content: center;
    border-bottom: solid thin black;
}

#bigFish img {
    max-height: 25vh;
}

.store {
    padding: 1em 2em 1em 3em;
}

.store ul {
    margin-top: 0.5em;
}

.store li {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2em;
    margin-top: 0.5em;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 3em;
    position: absolute;
    bottom: 0;
    width: 100%;
}